:root {
  --font: "Monteserrat", sans-serif;
  --white: #ffffff;
  --black: #000000;
  --gray: #e2e2e2;
}

body {
  margin: 0;
  font-family: var(--font);
  background-color: var(--branco);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
